@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#141414] min-h-screen text-white;
}

.bg-netflix-hero {
  background-image: linear-gradient(180deg, rgba(20,20,20,0.8), rgba(20,20,20,0.85)), url('https://images.unsplash.com/photo-1524985069026-dd778a71c7b4?q=80&w=1680&auto=format&fit=crop&ixlib=rb-4.0.3&s=placeholder');
  background-size: cover;
  background-position: center;
}